[Desktop Entry]
Type=Application
Keywords=XnView;Image;
Keywords[bs]=XnView;slika;
Keywords[ca]=XnView;Imatge;
Keywords[cs]=XnView;obrázek;fotka;fotografie;
Keywords[da]=XnView;Billede;
Keywords[de]=XnView;Bild;
Keywords[el]=XnView;Image;Εικόνα;
Keywords[eo]=XnView;Bildo;
Keywords[es]=XnView;Imagen;
Keywords[fr]=XnView;Image;
Keywords[he]=XnView;תמונה;
Keywords[hr]=XnView;Slika;
Keywords[hu]=XnView;Kép;
Keywords[id]=XnView;Citra;Gambar;
Keywords[is]=XnView;mynd;ljósmynd;
Keywords[it]=XnView;Immagine;
Keywords[lt]=XnView;Paveikslėlis;
Keywords[lv]=XnView;Attēls;
Keywords[nl]=XnView;Image;
Keywords[pl]=XnView;Obraz;
Keywords[pt]=XnView;Imagens;
Keywords[pt_BR]=XnView;Imagens;Image;
Keywords[ru]=XnView;Изображение;
Keywords[sr]=XnView;слика;
Keywords[sr@latin]=XnView;slika;
Keywords[sv]=XnView;Bild;
Keywords[tr]=XnView;Resim;
Keywords[zh_CN]=XnView;Image;图像;照片;
Keywords[zh_TW]=XnView;Image;影像;圖像;
Name=XnRetro
GenericName=Image Enhancer
Comment=Create stunning images with vintage or instant effect
TryExec=xnretro
Exec=xnretro %F
Icon=com.xnview.XnRetro
StartupWMClass=XnRetro
Terminal=false
Categories=RasterGraphics;2DGraphics;Photography;Qt;
MimeType=image/bmp;image/g3fax;image/gif;image/jpeg;image/pcx;image/png;image/svg+xml;image/tiff;image/x-compressed-xcf;image/x-fits;image/x-icon;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-tga;image/x-wmf;image/x-xbitmap;image/x-xcf;image/x-xpixmap;image/x-xwindowdump;
